<div class="qty-wrapper">
               <span>
                  Quantity:
               </span>
               <div class="quantity-area">
                  <button type="button" title="decrease quantity" class="decrease">
                     
<svg class="w-2 -scale-x-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.417 47.987">
   <path d="M26.413 21.575a3.432 3.432 0 0 1 0 4.851L5.854 46.983a3.43 3.43 0 0 1-4.851-4.851l18.14-18.139L1.015 5.854a3.43 3.43 0 0 1 4.851-4.851l20.558 20.56Z" fill="currentColor"></path>
</svg>
                  </button>
                        
                  <input type="number" x-model="qty" name="quantity" class="" value="1" min="1" max="10">
                  
                  <button type="button" title="increase quantity" class="increase">
                     
<svg class="w-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.417 47.987">
   <path d="M26.413 21.575a3.432 3.432 0 0 1 0 4.851L5.854 46.983a3.43 3.43 0 0 1-4.851-4.851l18.14-18.139L1.015 5.854a3.43 3.43 0 0 1 4.851-4.851l20.558 20.56Z" fill="currentColor"></path>
</svg>
                  </button>
               </div>
            </div>