<div class="inline-icon-text{% if modifier %} {{ modifier }}{% endif %}">
    <span class="inline-icon-text__icon">
        {% include icon %}
    </span>
    <span class="inline-icon-text__text">
        {{- text -}}
    </span>
</div>
