<a class="trustpilot-badge trustpilot-badge--small" href="https://uk.trustpilot.com/review/storiesflooring.co.uk" rel="nofollow" target="_blank" title="Read Stories Flooring Reviews on TrustPilot">
    <img alt="Trustpilot badge" class="trustpilot-badge_image" src="{{ 'trustpilot-sm.svg' | asset_url }}">
</a>
