<!-- TrustBox widget - Mini -->
<div class="trustpilot-woolley">
  <a href="https://uk.trustpilot.com/review/storiesflooring.co.uk" title="Read our reviews on TrustPilot" target="_blank" rel="noopener nofollow">
    <img src="https://cdn.shopify.com/s/files/1/0418/4568/6426/files/Stories_Flooring_Reviews_1.png" width="160px" height="88px" alt="Read our reviews on TrustPilot" title="Read our reviews on TrustPilot"/></a>
</div>
<!-- End TrustBox widget -->
