   <a class="dn_review_cstm {% if large %} dn_review-badge--large {% endif %}" href="https://storiesflooring.co.uk/pages/reviews/" rel="nofollow noreferrer" target="_blank" title="Read Stories Flooring Reviews">
      <div class="dn_review-badge__count_cstm">Read our customer reviews
       </div>  
     <img class="dn_review-badge__image_cstm" src="{{ 'Stories_Flooring_Rated_5_Stars.png' | asset_url }}"
          loading="lazy"
          alt="Stories Flooring Rated Excellent by Customers"
          title="Stories Flooring Rated Excellent by Customers"
     >
       <div class="dn_review-badge__count_cstm">Rated excellent!
       </div>
   </a>
   
   