<div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="5fcfadfbc9a213000101e017" data-style-height="40px" data-style-width="180px" data-theme="light">
    <a href="https://uk.trustpilot.com/review/storiesflooring.co.uk" target="_blank" rel="noopener">Trustpilot</a>
</div>
