<div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5fcfadfbc9a213000101e017" data-style-height="104px" data-style-width="235px" data-theme="light">
    <a href="https://uk.trustpilot.com/review/storiesflooring.co.uk" target="_blank" rel="noopener">Trustpilot</a>
</div>
