<div class="account">
    <div class="site-wrap">
        <div id="CustomerResetForm" class="account-form">
            {% form 'reset_customer_password' %}
                <h1 class="account-title">
                    Reset account password
                </h1>
                <div class="wysiwyg">
                    <p>
                        Enter a new password for {{ email }}
                    </p>
                </div>
                {%- if form.errors -%}
                    <div class="account-form-errors">
                        {{ form.errors | default_errors }}
                    </div>
                {%- endif -%}
                <div class="account-form__field">
                    <label class="account-form__label" for="ResetPassword">Password</label>
                    <input type="password" value="" name="customer[password]" id="ResetPassword" class="input input-text account-form__input{% if form.errors contains 'password' %} input--error{% endif %}">
                </div>
                <div class="account-form__field">
                    <label class="account-form__label" for="PasswordConfirmation">Confirm password</label>
                    <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input input-text account-form__input{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
                </div>
                <button class="button button--solid" type="submit">
                    Reset password
                </button>
          {% endform %}
        </div>
    </div>
</div>
