
<section class="section-highlight-bar">
  {% render 'highlight-bar' %}
</section>
<style>
  .home-collection-list-outer-container {
    margin-bottom: 0;
  }
</style>
{% schema %}
	{
		"name": "Highlight Bar",
		"class": "section",
		"settings": [
		],
		"presets": [
			{
				"name": "Highlight Bar",
				"category": "Home,Collection,Product"
			}
		]
	}
{% endschema %}
