<div class="product-accordion">
    <div class="site-wrap">
        <ul id="product-details-accordion" class="accordion accordion--light accordion--product-details" aria-label="Product details accordion">
            <li class="accordion__item js-accordion-item is-active">                
                <div class="accordion__content-container js-accordion-content-container" aria-hidden="false" id="accordion-product-specification">
                    <div class="accordion__content js-accordion-content">
                        <div class="product-accordion__inner">
                            {% include 'product-specification' %}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% schema %}
    {
        "name": "Product Specification",
        "settings": [
        ],
        "presets": [
            {
                "name": "Product Specification",
                "category": "Product Page"
            }
        ]
    }
{% endschema %}