<div class="product-related" id="recently-viewed" style="display: none;">
  <div class="site-wrap">
    <p class="title title--small product-related__heading">Recently viewed</p>
  </div>
  <div class="site-wrap">
    <div class="product-related__container">
      <div class="product-related__listing js-recently-viewed-list"></div>
    </div>
  </div>
</div>

{% schema %}
    {
      "name": "Recently Viewed",
      "class": "shopify-section--recently-viewed",
      "settings": [
      ],
      "presets": [
        {
          "name": "Recently Viewed",
          "category": "Product Page",
          "settings": {}
        }
      ]
    }
{% endschema %}