{% schema %}
    {
        "name": "Samples text split",
        "settings": [
            {
                "type": "text",
                "id": "samples_text_split_title",
                "label": "Samples text split title"
            },
            {
                "type": "html",
                "id": "samples_text_split_content",
                "label": "Samples text split content"
            },
            {
                "type": "image_picker",
                "id": "samples_text_split_image",
                "label": "Image",
                "info": "Recommended image size: 1920 x 1540."
            },
            {
                "type": "text",
                "id": "samples_text_split_image_alt",
                "label": "Image alt"
            }
        ]
    }
{% endschema %}

{% unless
    section.settings.samples_text_split_title == blank
    and section.settings.samples_text_indent_split_content == blank
    and section.settings.samples_text_split_image == blank
%}
    <section class="image-text-split">
        <div class="site-wrap site-wrap--max">
            <div class="image-text-split__wrap">
                {% unless section.settings.samples_text_split_image == blank %}
                    <div class="image-text-split__image image-text-split__image--switch">
                      <img loading="lazy" src="{{ section.settings.samples_text_split_image | img_url: 'master'}}" alt="{{- section.settings.samples_text_split_image_alt -}}">
                    </div>
                {% endunless %}
                {% unless
                    section.settings.samples_text_split_title == blank
                    and section.settings.samples_text_indent_split_content == blank
                %}
                    <div class="image-text-split__content image-text-split__content--switch">
                        <div class="image-text-split__content__container">
                            <div class="image-text-split__content__inner">
                                {% unless section.settings.samples_text_split_title == blank %}
                                    <h2 class="title title--small image-text-split__title">
                                        {{- section.settings.samples_text_split_title -}}
                                    </h2>
                                {% endunless %}
                                {% unless section.settings.samples_text_split_content == blank %}
                                    <div class="para">
                                        {{- section.settings.samples_text_split_content -}}
                                    </div>
                                {% endunless %}
                            </div>
                        </div>
                    </div>
                {% endunless %}
            </div>
        </div>
    </section>
{% endunless %}
