<section class="testimonial-sec">
  <div class="site-wrap">
    <h2>{{ section.settings.heading }}</h2>
    <div class="swiper testimonial">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'testimonial' %}
            <div class="swiper-slide">
              <div class="testimonial-content">
                <div class="name">
                  <h3>{{ block.settings.name }}</h3>
                </div>
                <div class="content">
                  <svg width="105" height="21" viewBox="0 0 105 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 0.939453L13.2156 7.20179L20.0106 7.84928L14.8939 12.3671L16.3779 19.0296L10.5 15.5595L4.62215 19.0296L6.10612 12.3671L0.989435 7.84928L7.78443 7.20179L10.5 0.939453Z" fill="#FF9D00"/>
                    <path d="M31.5 0.939453L34.2156 7.20179L41.0106 7.84928L35.8939 12.3671L37.3779 19.0296L31.5 15.5595L25.6221 19.0296L27.1061 12.3671L21.9894 7.84928L28.7844 7.20179L31.5 0.939453Z" fill="#FF9D00"/>
                    <path d="M52.5 0.939453L55.2156 7.20179L62.0106 7.84928L56.8939 12.3671L58.3779 19.0296L52.5 15.5595L46.6221 19.0296L48.1061 12.3671L42.9894 7.84928L49.7844 7.20179L52.5 0.939453Z" fill="#FF9D00"/>
                    <path d="M73.5 0.939453L76.2156 7.20179L83.0106 7.84928L77.8939 12.3671L79.3779 19.0296L73.5 15.5595L67.6221 19.0296L69.1061 12.3671L63.9894 7.84928L70.7844 7.20179L73.5 0.939453Z" fill="#FF9D00"/>
                    <path d="M94.5 0.939453L97.2156 7.20179L104.011 7.84928L98.8939 12.3671L100.378 19.0296L94.5 15.5595L88.6221 19.0296L90.1061 12.3671L84.9894 7.84928L91.7844 7.20179L94.5 0.939453Z" fill="#FF9D00"/>
                  </svg>
                  {{ block.settings.content }}
                </div>
              </div>
            </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />                      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>                     
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".testimonial", {
    loop: true,
    speed: 1500,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

{% schema %}
  {
    "name": "Testimonial Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
      },
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Customer Name",
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Customer Content",
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonial Section",
      }
    ]
  }
{% endschema %}