.guide-accordion {
    background: #1b2c3d;
    padding: 3rem 0 4rem;
}
@media (min-width: 48em) {
    .guide-accordion__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: calc(8.33333% - 2.2rem);
    }
}
.guide-accordion__image {
    margin-bottom: 2rem;
}
@media (min-width: 48em) {
    .guide-accordion__image {
        width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 60.5rem;
        margin-bottom: 0;
        margin-right: 8.33333%;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}
.image-text-split {
    background: #c6d5d5;
}
.image-text-split--beige,
.image-text-split--hero {
    background: #dcc6bc;
}
.image-text-split--peach {
    background: #ffd1cb;
}
.image-text-split--dark {
    background: #1b2c3d;
    color: #fff;
}
.image-text-split__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.image-text-split__wrap--switched {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.image-text-split__content,
.image-text-split__image {
    overflow: hidden;
    width: 100%;
}
@media (min-width: 48em) {
    .image-text-split__content,
    .image-text-split__image {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}
.image-text-split__image {
    position: relative;
}
@media (min-width: 48em) {
    .image-text-split__image img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
    }
}
.image-text-split--hero .image-text-split__image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 47.999em) {
    .image-text-split--hero .image-text-split__image {
        height: 20rem;
    }
}
.image-text-split__image--indent {
    padding: 5rem 0 0;
}
@media (min-width: 48em) {
    .image-text-split__image--indent {
        padding: 7rem 0;
    }
}
@media (min-width: 48em) {
    .image-text-split__image--hero,
    .image-text-split__image--switch {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
.image-text-split__image-text {
    position: absolute;
    top: calc(100% - 5.1rem);
    right: 1.4rem;
    max-width: 50%;
    padding-left: 2.8rem;
    line-height: 1.8rem;
}
@media (min-width: 48em) {
    .image-text-split__image-text {
        top: calc(100% - 6.6rem);
        right: 4rem;
    }
}
.image-text-split__image-text-icon {
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.1rem solid #fff;
    border-radius: 100%;
}
@media (min-width: 80em) {
    .image-text-split__image-text-icon {
        top: 0;
    }
}
.image-text-split__image-text-icon:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    background: #fff;
}
.image-text-split__content {
    padding: 5rem;
}
@media (min-width: 48em) {
    .image-text-split__content {
        padding: 8.2rem 5rem 7rem;
        min-height: 40rem;
    }
}
@media (min-width: 80em) {
    .image-text-split__content {
        padding-left: 13.33333%;
        padding-right: 8.33333%;
    }
}
@media (min-width: 120em) {
    .image-text-split__content {
        padding-left: 20.66667%;
        min-height: 77rem;
    }
}
@media (min-width: 80em) {
    .image-text-split__content--right {
        padding-left: 8.33333%;
        padding-right: 13.33333%;
    }
}
@media (min-width: 120em) {
    .image-text-split__content--right {
        padding-left: 16.66667%;
    }
}
@media (min-width: 120em) {
    .image-text-split__content--switch {
        padding-left: 12.33333%;
        padding-right: 16.66667%;
    }
}
@media (min-width: 48em) {
    .image-text-split__content--hero {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        padding-top: 6.2rem;
        padding-left: 5rem;
        padding-bottom: 5rem;
        min-height: 30rem;
    }
}
@media (min-width: 120em) {
    .image-text-split__content--hero {
        padding-left: 12.33333%;
        min-height: 35rem;
    }
}
@media (min-width: 48em) {
    .image-text-split__content--home {
        min-height: 55rem;
    }
}
@media (min-width: 120em) {
    .image-text-split__content--home {
        padding-right: 16.66667%;
        min-height: 80rem;
    }
}
.image-text-split__content--indent {
    padding: 5rem 0;
}
@media (min-width: 48em) {
    .image-text-split__content--indent {
        padding: 7rem 5rem;
    }
}
@media (min-width: 80em) {
    .image-text-split__content--indent {
        padding: 7rem 8.33333%;
    }
}
.image-text-split__content--trade {
    padding-left: 8.33333%;
    padding-right: 8.33333%;
}
@media (min-width: 48em) {
    .image-text-split__content__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
}
.image-text-split__content__inner {
    position: relative;
    z-index: 0;
}
@media (min-width: 64em) {
    .image-text-split__content-indent {
        padding-left: 16.66667%;
    }
}
.image-text-split__additional-content {
    margin-top: 5.4rem;
    line-height: 2rem;
}
.image-text-split__background-sig {
    position: absolute;
    top: -0.2rem;
    left: -2.1rem;
    z-index: -1;
    width: 9.8rem;
    height: 10.7rem;
}
@media (min-width: 80em) {
    .image-text-split__background-sig {
        top: -3.3rem;
        left: -16.66667%;
        width: 22.2rem;
        height: 24.3rem;
    }
}
.image-text-split__quote-sig {
    width: 2.8rem;
    height: 3rem;
}
@media (max-width: 79.999em) {
    .image-text-split__quote-sig {
        margin-bottom: 3rem;
    }
}
@media (min-width: 80em) {
    .image-text-split__quote-sig {
        position: absolute;
        top: 0.6rem;
        left: -6.8rem;
    }
}
.image-text-split__title {
    margin-bottom: 2rem;
}
.image-text-split--dark .image-text-split__title {
    color: #fff;
}
.image-text-split__link {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
@media (min-width: 64em) {
    .image-text-split__title--home {
        padding-right: 16.66667%;
    }
}
@media (min-width: 120em) {
    .image-text-split__title--home {
        padding-right: 0;
    }
}
.image-text-split__para {
    margin-bottom: 3rem;
}
.image-text-split__para-last {
    margin-top: 3rem;
}
.image-text-split__buttons .button {
    margin: 0 1.5rem 1.5rem 0;
}
.image-text-split__buttons .button:last-of-type {
    margin-right: 0;
}
@media (min-width: 64em) {
    .image-text-split__buttons .button {
        margin-bottom: 0;
    }
}
.image-text-split__buttons-stacked .button {
    margin: 0 1.5rem 1.5rem 0;
}
.image-text-split__quote-title {
    font-size: 3rem;
    line-height: 3.4rem;
    color: #24486d;
    margin-bottom: 3rem;
}
@media (min-width: 64em) {
    .image-text-split__quote-title {
        font-size: 4rem;
        line-height: 4.4rem;
        margin-bottom: 2rem;
    }
}
.image-text-split__quote-author {
    font-size: 1.6rem;
    letter-spacing: -0.01rem;
    line-height: 2.3rem;
    margin-bottom: 4.5rem;
}
@media (min-width: 64em) {
    .image-text-split__quote-author {
        margin-bottom: 5rem;
    }
}
@media (min-width: 64em) {
    .image-text-split__form {
        margin-right: 6rem;
    }
}
.image-text-split__icons {
    margin-top: 3rem;
}
.image-text-split__icons-set {
    margin-top: 1.2rem;
}
.accordion--light {
    color: #fff;
}
.accordion__item {
    border-top: 0.1rem solid #c6d5d5;
    overflow: hidden;
    -webkit-transition: padding 0.4s;
    transition: padding 0.4s;
}
.accordion__item.is-active {
    padding-bottom: 3rem;
}
@media (min-width: 64em) {
    .accordion__item.is-active {
        padding-bottom: 4rem;
    }
}
.accordion--product-details .accordion__item {
    border-color: hsla(0, 0%, 100%, 0.25);
}
.accordion--product-details .accordion__item:first-of-type {
    border-top: 0;
}
.accordion__toggle {
    position: relative;
    width: 100%;
    padding: 3rem 4rem 3rem 0;
    text-decoration: none;
}
@media (min-width: 64em) {
    .accordion__toggle {
        padding: 4rem 6rem 4rem 0;
    }
}
.accordion__link-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.accordion__link-arrow svg {
    width: 2.5rem;
    height: 1.3rem;
}
@media (min-width: 64em) {
    .accordion__link-arrow svg {
        width: 3.2rem;
        height: 1.6rem;
    }
}
.is-active .accordion__link-arrow {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
.accordion--product-details .accordion__link-arrow .icon-stroke {
    stroke: #fff;
}
.accordion__title {
    font-size: 2.3rem;
    letter-spacing: 0;
    line-height: 2.7rem;
}
.accordion__content-container {
    -webkit-transition: height 0.4s, opacity 0.4s 0.2s;
    transition: height 0.4s, opacity 0.4s 0.2s;
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.is-active .accordion__content-container {
    visibility: visible;
    opacity: 1;
    height: auto;
}
.accordion__content {
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 2rem;
    padding-right: 4rem;
}
@media (min-width: 64em) {
    .accordion__content {
        padding-right: 6rem;
    }
}
.accordion--product-details .accordion__content {
    padding: 0;
}
.guide-table {
    margin: 0 -5rem 5rem;
    padding-left: 5rem;
    overflow: auto;
}
@media (min-width: 64em) {
    .guide-table {
        margin: 0 0 7rem;
        padding-left: 0;
    }
}
.guide-table__table {
    min-width: 100%;
    font-size: 1.4rem;
}
.guide-table__header {
    text-align: center;
    white-space: nowrap;
}
.guide-table__header,
.guide-table__row-title {
    padding: 1rem 3rem;
    background: #1b2c3d;
    border: 0.1rem solid #fff;
    color: #fff;
}
.guide-table__row-title {
    width: 29rem;
    text-align: right;
}
.guide-table__row {
    padding: 1rem 3rem;
    background: #ebebeb;
    border: 0.1rem solid #fff;
    text-align: center;
}
.guide-table__row > img {
    display: block;
    margin: 0 auto;
    width: auto;
}
.guide-grid-items {
    margin: 7rem 0;
}
.guide-grid-items__nav {
    display: none;
}
@media (min-width: 48em) {
    .guide-grid-items__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media (min-width: 48em) {
    .guide-grid-items__select {
        display: none;
    }
}
.guide-grid-items__nav-item {
    margin-right: 2rem;
    margin-bottom: 2rem;
}
@media (min-width: 48em) {
    .guide-grid-items__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -3rem;
    }
}
@media (min-width: 64em) {
    .guide-grid-items__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -7rem;
    }
}
.guide-grid-items__grid-item {
    display: none;
    margin-top: 5rem;
}
.guide-grid-items__grid-item.is-active {
    display: block;
}
@media (min-width: 48em) {
    .guide-grid-items__grid-item {
        -ms-flex-preferred-size: calc(50% - 3rem);
        flex-basis: calc(50% - 3rem);
        max-width: calc(50% - 3rem);
        margin-left: 3rem;
    }
}
@media (min-width: 64em) {
    .guide-grid-items__grid-item {
        -ms-flex-preferred-size: calc(25% - 7rem);
        flex-basis: calc(25% - 7rem);
        max-width: calc(25% - 7rem);
        margin-left: 7rem;
    }
}
.guide-grid-items__nav-button.is-active {
    color: #fff;
    background: #24486d;
}
.guide-grid-items__link {
    text-decoration: none;
}
.guide-grid-items__title {
    color: #24486d;
    font-size: 2.3rem;
    line-height: 1.1;
}
.guide-grid-items__image {
   
}

.guide-grid-items__image-element {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

@media only screen and (max-width: 47.999em) {
	.guide-grid-items__grid {
		width: 90%;
		margin: 0 auto;
	}

	.guide-table {
		width: 90%;
		margin: 0 auto;
		padding: 0px;
		margin-bottom: 4rem;
	}

	.image-text-split-indent-container .site-wrap {
		width: 95%;
		margin: 0 auto;
	}
}