.site-navigation__label {
  border-right: 0.1rem solid hsla(0, 0%, 100%, 0.3);
  color: #fff;
  font-family: Bogue-Light, sans-serif;
  margin: 0.3rem 2rem 0 0;
  padding-right: 5rem;
}

.site-navigation__li--sub {
  border-bottom: 0.1rem solid #fff;
  border-top: 0;
}
.site-navigation__li--sub:last-child {
  border-bottom: 0;
}

.site-navigation__li--sub.is-active .site-navigation__link > .site-navigation__link-text:after {
  width: 100%;
}
.site-navigation__li--sub.is-active .site-navigation__sub-menu--third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.site-navigation__right {
  background: #1b2c3d;
}
.site-navigation__right .site-navigation__link {
  font-family: Bogue-Light, sans-serif;
}
.site-navigation__right .site-navigation__link.site-navigation__link--active {
  background: inherit;
}
.site-navigation__right .site-navigation__link.site-navigation__link--active > .site-navigation__link-text:after {
  width: 100%;
}

.site-navigation__link--has-sub:hover:after {
  display: none;
}

.site-navigation__link--sub {
  color: #1b2c3d;
}
.site-navigation__link--sub > .site-navigation__link-text:after {
  background: #1b2c3d;
}

.site-navigation__link-icon {
  display: inline-block;
  margin-right: 2.4rem;
  vertical-align: middle;
  width: 2.5rem;
}

.site-navigation__link-arrow svg g {
  stroke: #ff877a;
  -webkit-transition: stroke 0.4s;
  transition: stroke 0.4s;
}

.site-navigation__sub-menu {
  background: #ebebeb;
  display: none;
  visibility: hidden;
}

.site-navigation__sub-menu--third {
  background: #fff;
  color: #000;
}

.site-navigation__third-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation__third-img-wrap {
  width: 16.66667%;
}

.site-navigation__third-content {
  padding: 1rem 9rem 0 5rem;
  width: 33.33333%;
}

.site-navigation__third-title {
  margin-bottom: 1.5rem;
}

.site-navigation__third-list-title {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

.site-navigation__third-text {
  margin-bottom: 1.5rem;
}

.site-navigation__third-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  max-width: 657px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2px;
}

.site-navigation__third-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 0.1rem solid #ebebeb;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}

.site-navigation__third-links--full {
  width: 100%;
}

.site-navigation__third-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}
.site-navigation__third-link:after {
  left: 4rem;
}
.site-navigation__third-link:hover:after {
  width: calc(100% - 4rem);
}

.site-navigation__third-link--no-img:after {
  left: 0;
}
.site-navigation__third-link--no-img:hover:after {
  width: 100%;
}

.site-navigation__third-list-item {
  margin-bottom: 1rem;
}

.site-navigation__third-link-image {
  display: inline-block;
  margin-right: 1.5rem;
  vertical-align: middle;
  width: 2.5rem;
}

.site-navigation__sale-background {
  background-color: #ff877a !important;
  border-top: none !important;
}
.site-navigation__sale-background .site-navigation__link {
  border-right: none !important;
  color: #24486d;
  font-weight: 400;
  text-transform: uppercase;
}

.site-navigation__no-white-border {
  border-right: none !important;
}

.site-navigation__li--third {
  margin-bottom: 0;
  padding-bottom: 5px !important;
}
.site-navigation__li--third a {
  border-right: 0 !important;
}

.mobile-only {
  display: block;
}

.site-navigation__sub-menu.site-navigation__sub-menu--second {
  background: #fff;
}

.site-navigation__link--active svg g {
  stroke: #1b2c3d;
}

@media (max-width: 79.999em) {
  .site-navigation__link-arrow {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .site-navigation__link-arrow--sub {
    -webkit-transform: rotate(-90deg) translateY(-50%);
    transform: rotate(-90deg) translateY(-50%);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  .site-navigation__third-img-wrap {
    display: none;
  }
  .site-navigation__third-content {
    display: none;
  }
  .site-navigation__sub-menu--second .site-wrap--nav {
    padding: 2rem;
  }
  .site-navigation__sub-menu--second .site-navigation__sub-menu--third .site-wrap--nav {
    padding: 0;
  }
  .site-navigation__third-links {
    border-left: 0;
  }
  .mobile_li_bg {
    background: #ebebeb;
  }
}
@media (min-width: 80em) {
  .mobile-only {
    display: none;
  }
  .site-navigation__li .site-navigation__li--sub {
    padding-bottom: 0;
    padding-top: 0;
  }
  .site-navigation__li.menu-type-brand .site-navigation__li--sub {
    margin-top: 0;
    height: 45px;
    padding-left: 15px;
  }
  .site-navigation__li.menu-type-brand .site-navigation__li--sub:hover {
    background-color: #f7f7f7;
  }
  .site-navigation__li.menu-type-brand .site-navigation__li--sub .site-navigation__link {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .site-navigation__li.menu-type-brand .site-navigation__li--sub .site-navigation__link .site-navigation__link-text:after {
    display: none;
  }
  .site-navigation__li.menu-type-brand .site-navigation__third-links--full > .site-navigation__link--sub:first-child {
    display: none;
  }
  .site-navigation__li.menu-type-brand > .site-navigation__sub-menu {
    padding: 1rem 0;
  }
  .site-navigation__ul--third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .site-navigation__li--third {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 2rem;
  }
  .site-navigation__li--sub {
    border-bottom: 0;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding-right: 2rem;
  }
  .site-navigation__li--sub:nth-child(n+6) {
    margin-top: 3rem;
  }
  .site-navigation__li--has-sub.is-active > .site-navigation__link--has-sub, .site-navigation__li--has-sub:hover > .site-navigation__link--has-sub {
    color: #1b2c3d;
    background-color: transparent;
  }
  .site-navigation__li--has-sub.is-active > .site-navigation__link--has-sub svg g, .site-navigation__li--has-sub:hover > .site-navigation__link--has-sub svg g {
    stroke: #1b2c3d;
  }
  .site-navigation__li--has-sub.is-active > .site-navigation__link--has-sub > .site-navigation__link-text:after, .site-navigation__li--has-sub:hover > .site-navigation__link--has-sub > .site-navigation__link-text:after {
    display: none;
  }
  .site-navigation__right {
    background: 0 0;
    border: 0;
    margin: 0;
  }
  .site-navigation__right .site-navigation__link {
    margin: 1.2rem 3rem;
    padding: 0;
  }
  .site-navigation__link--sub {
    display: inline-block;
    padding: 0;
  }
  .site-navigation__li-mobile {
    display: none !important;
  }
  .site-navigation__link-icon {
    display: none;
  }
  .site-navigation__link-arrow {
    display: none;
    margin-left: 0;
  }
  .site-navigation__link-arrow svg g {
    stroke: #fff;
  }
  .site-navigation__sub-menu {
    display: block;
    left: -100%;
    opacity: 0;
    padding: 3rem 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .site-navigation__sub-menu--third {
    padding: 4rem 0 7rem;
    background: #ebebeb;
  }
  .site-navigation__li.menu-type-brand .site-navigation__third-right {
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .site-navigation__li.menu-type-brand .site-navigation__third-right .site-navigation__third-link {
    height: 28px;
    -ms-flex-preferred-size: calc(50% - 2.2rem);
    flex-basis: calc(50% - 2.2rem);
    margin-left: 0;
    max-width: calc(50% - 2.2rem);
  }
  .site-navigation__third-links {
    max-width: 81%;
    padding: 0 2rem 0 3rem;
    width: 100%;
  }
}
@media (min-width: 90em) {
  .site-navigation__li--sub {
    -ms-flex-preferred-size: 14%;
    flex-basis: 14%;
  }
  .site-navigation__li--sub:nth-child(n+6) {
    margin-top: 0;
  }
  .site-navigation__li--sub:nth-child(n+9) {
    margin-top: 3rem;
  }
  .site-navigation__third-right {
    margin-left: -2.2rem;
  }
  .site-navigation__third-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: -2.2rem;
  }
  .site-navigation__third-list-item {
    -ms-flex-preferred-size: calc(50% - 2.2rem);
    flex-basis: calc(50% - 2.2rem);
    margin-left: 0;
    max-width: calc(35% - 2.2rem);
  }
}
@media (min-width: 120em) {
  .site-navigation__third-links {
    padding: 0 5rem 0 3rem;
  }
}
/**************************************
** Site Navigation
***************************************/
.mega-menu-flex-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
}

.mega-menu-inner-container.wood-true .mega-menu-element-small-width {
  margin-right: 1.2vw;
  width: 230px;
}

.site-navigation__li--brand-subelement:after {
  left: 0;
  width: 0;
}
.site-navigation__li--brand-subelement:hover:after {
  width: 100%;
}

.mega-menu-side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 2.5%;
  padding-right: 2.5%;
  width: 10%;
}
.mega-menu-side-nav .mega-menu-extra-links {
  font-size: 1.4rem;
  font-weight: 800;
  text-decoration-line: none;
}
.mega-menu-side-nav ul {
  min-width: 160px;
}
.mega-menu-side-nav li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 2.5rem;
}

.site-navigation__third-content a.button {
  border-radius: 2.3rem;
}

.col-md-3 {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 34.5%;
}

.col-md-7 {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 52%;
}

.mega-menu-no-images-button-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}
.mega-menu-no-images-button-container a {
  border-radius: 2.3rem;
  font-size: 1.4rem;
  height: 4rem;
  line-height: 1;
  width: auto;
}
.mega-menu-no-images-button-container a.button {
  min-width: 20rem;
  text-transform: capitalize;
}

.wood-view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 2em;
  width: 100%;
}
.wood-view-all a {
  background: #c6d5d5;
  border-radius: 2.3rem;
  color: #24486d;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  height: 4rem;
  line-height: 1;
  padding: 1.4rem 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  width: auto;
}
.wood-view-all .col-md-3 {
  margin-left: 1.7em;
  margin-right: 2.5em;
}
.wood-view-all .col-md-7 {
  margin-left: 1.7em;
  margin-right: 2.5em;
}

.site-wrap.site-wrap--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 192rem;
  padding: 0;
}

.text-wrap {
  font-family: Averta-Regular, sans-serif;
}

.mega-menu-element-small-width {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  width: 150px;
}

.site-wrap-default-nav {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.mega-menu-side-nav-info-container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 5%;
  padding-left: 5%;
  width: 90%;
}
.mega-menu-side-nav-info-container a {
  margin-bottom: 2rem;
  margin-right: 2rem;
  text-decoration-line: none;
  width: 150px;
}
.mega-menu-side-nav-info-container h3 {
  font-family: Bogue-Light, sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-top: 1rem;
}

.mega-menu-side-nav-image {
  width: 100%;
}

.site-navigation__third-img {
  height: auto;
  width: 100%;
}

.mega-menu-inner-container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.mega-menu-element-container {
  margin-right: 4vw;
}

.mega-menu-element-wide-width {
  width: 220px;
}

.mega-menu-element-title-container {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.mega-menu-element-title-container h3 {
  color: #000;
  font-weight: 700;
}
.mega-menu-element-title-container a {
  text-decoration-line: none;
}

.mega-menu-element-body-attribute-container {
  height: 40px;
  padding: 0 5%;
}
.mega-menu-element-body-attribute-container:hover {
  background-color: #f7f7f7;
}
.mega-menu-element-body-attribute-container a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-decoration-line: none;
}

.mega-menu-images-element-container {
  width: 100%;
}
.mega-menu-images-element-container a {
  display: block;
  text-decoration-line: none;
  width: 100%;
}
.mega-menu-images-element-container h4 {
  margin-top: 10px;
}

.mega-menu-images-container {
  margin-top: 40px;
  width: 100%;
}

.mega-menu-image-element {
  height: auto;
  max-height: 250px;
  width: 100%;
}

.mega-menu-images-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.mega-menu-sidebar-flex {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.mega-menu-sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 50px;
  min-width: 250px;
}

.mega-menu-sidebar-container-element {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 10px;
  text-decoration-line: none;
}
.mega-menu-sidebar-container-element h2 {
  font-weight: 800;
  line-height: 24px;
}

.mega-menu-sidebar-chevron {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.mega-menu-sidebar-element-active {
  background-color: #f0f0f0;
}

.mega-menu-element-container-hidden {
  display: none !important;
  min-width: 0 !important;
}

.mega-menu-element-extra-product-image {
  height: auto;
  width: 100%;
}

.mega-menu-element-extra-product-text {
  margin-top: 10px;
}
.mega-menu-element-extra-product-text h4 {
  font-weight: 700;
}

.mega-menu-element-container-product-collection {
  text-decoration-line: none;
}
.mega-menu-element-container-product-collection h4 {
  display: block;
  margin-top: 10px;
}
.mega-menu-element-container-product-collection span {
  display: block;
  margin-top: 5px;
}

.mobile-menu-subaccordion-title {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mobile-menu-subaccordion-panel {
  display: none;
  overflow: hidden;
  padding: 0 20px 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu-subaccordion-container {
  width: 100%;
}

.mobile-menu-subaccordion-element {
  padding-bottom: 15px;
}

.mobile-menu-subaccordion-anchor {
  text-decoration-line: none;
}

.mobile-menu-subaccordion-title-bold {
  font-weight: 700;
  text-decoration-line: none;
}

.mobile-menu-subaccordion-heading {
  display: block;
  margin-left: -20px;
  margin-top: 20px;
}
.mobile-menu-subaccordion-heading span {
  font-size: 16px;
}

.mobile-menu-subaccordion-open .mobile-nav-subaccordion-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mobile-nav-subaccordion-icon {
  width: 15px;
}

.mobile-menu-subaccordion-title-text {
  text-decoration-line: none;
  width: 85%;
}

.mobile-menu-subaccordion-icon-container {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
}

.mega-menu-no-images-link {
  text-decoration-line: none;
}

.mega-menu-column {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.mega-menu-column .mega-menu-no-images-link {
  display: block;
  margin-bottom: 2.5rem;
}
.mega-menu-column .mega-menu-no-images-link-last {
  margin-bottom: 0;
}

.remove-right-border .site-navigation__link--has-sub {
  border-right: none !important;
}

.site-nav__item.menu-type-stretch-1column .site-navigation__sub-menu {
  padding: 0;
  min-width: 220px;
}
.site-nav__item.menu-type-stretch-1column .mega-menu-element-body-container {
  width: 220px;
}
.site-nav__item.menu-type-stretch-1column li.mega-menu-element-body-attribute-container {
  border-bottom: 1px dotted #ebebeb;
  height: 44px;
  padding: 0 5%;
  position: relative;
}
.site-nav__item.menu-type-stretch-1column li.mega-menu-element-body-attribute-container:first-child {
  border-top: 1px dotted #ebebeb;
}
.site-nav__item.menu-type-stretch-1column .mega-menu-flex-options {
  width: 100%;
}
.site-nav__item.menu-type-stretch-1column .site-wrap.site-wrap--nav {
  max-width: 220px;
}

.mega-menu-element-wide-width.child-el-small-height {
  width: 245px;
}

.mega-menu-element-container.child-el-small-height .mega-menu-element-body-attribute-container {
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .wood-view-all {
    display: none;
  }
}
@media only screen and (max-width: 79.999em) {
  .mega-menu-inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .site-nav__item.menu-type-brand .mega-menu-flex-options {
    width: 100%;
  }
  .mega-menu-no-images-button-container {
    display: none;
  }
  .site-navigation__third-links {
    width: 100% !important;
  }
  .site-navigation__third-link {
    margin: 0 !important;
  }
  .site-navigation__third-list-item {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 1296px) {
  .mega-menu-no-images-button-container a {
    position: absolute;
    right: 38px;
  }
}
/**************************************
** END Site Navigation
***************************************/
